* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-direction {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}


img {
    height: auto;
    width: 100%;
}

.h-100 {
    height: 100%;
}

.sidebar
.icon {
    color: #808080;
}

.mb-24 {
    margin-bottom: 24px;
}

.sidebar h4 {
    margin-bottom: 30px;
    padding-left: 24px;
    padding-top: 30px;
    text-transform: uppercase;
}

h1,
h2 {
    text-transform: uppercase;
}

h4 {
    text-transform: capitalize;
}
.d-none{
    display: none;
}
.nav-text {
    color: #808080;
}

.profile-wrapper {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
@media (max-width: 1200px) {}

/* laptops */
@media (max-width: 992px) {
    .card-wrapper {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .table-data {
        overflow: auto;
    }
}
/* tablets */
@media (max-width: 768px) {
    .card-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .table-data {
        overflow: auto;
    }
}

/* mobile phones */
@media (max-width:600px) {
    .card-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        background-color: white;
    }

    .table-data {
        overflow: auto;
    }
}


// .flex-center {
//     @include flex-center;
// //   }
// @each $key, $value in $spacer {
//     @if $key == "auto" {
//       .m-auto {
//         margin: auto;
//       }
//     } @else {
//       @each $name, $type in $space-values {
//         .m#{$type}-#{$key} {
//           margin-#{$name}: #{$value}px;
//         }
//       }
//     }
//   }
  
//   @each $key, $value in $spacer {
//     @if $key == "auto" {
//       .p-auto {
//         margin: auto;
//       }
//     } @else {
//       @each $name, $type in $space-values {
//         .p#{$type}-#{$key} {
//           padding-#{$name}: #{$value}px;
//         }
//       }
//     }
//   }