<div class="card ">
    <div class="card-wrapper">
        <div class="image-wrapper overflow-hidden">
            <img src="../../../assets/images/Studio.png" alt="...">
        </div>
        <div class="card-body p-0">
            <h5 class="card-title">Magical Studio</h5>
            <p class="card-text mb-0">Some quick example text to build on the card title</p>
            <a href="#" class="btn btn-outline-secondary d-flex align-items-center justify-content-center">View
                Details</a>
        </div>
    </div>
</div>