<div class="d-flex flex-column justify-content-center align-items-center row pt-32 ">
    <div class="d-flex  mt-2 ms-3 text-left bg-white rounded shadow py-3">
        <form [formGroup]="employeeForm">
            <h4>Employee Form</h4>
            <div class="form-group">
                <label class="control-label ">NAME</label>
                <input type="text" class="form-control" formControlName="name">
                <div
                    *ngIf="employeeForm.controls['name'].invalid && (isSubmitted || employeeForm.controls['name'].touched || employeeForm.controls['name'].dirty)">
                    <p class="text-danger" *ngIf="employeeForm.controls['name'].errors?.['required']">
                        Enter the firstName
                    </p>
                    <p class="text-danger" *ngIf="employeeForm.controls['name'].errors?.['minlength']">
                        name have atleast 3 characters
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">GENDER</label>
                <input type="text" class="form-control"  formControlName="gender">
                <div
                    *ngIf="employeeForm.controls['gender'].invalid && (isSubmitted || employeeForm.controls['gender'].touched || employeeForm.controls['gender'].dirty)">
                    <p class="text-danger" *ngIf="employeeForm.controls['gender'].errors?.['required']">
                        Enter the gender
                    </p>
                    <p class="text-danger" *ngIf="employeeForm.controls['gender'].errors?.['minlength']">
                        gender have only alphabet
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">D.O.B</label>
                <input type="date" class="form-control"  formControlName="dob">
                <div
                    *ngIf="employeeForm.controls['dob'].invalid && (isSubmitted || employeeForm.controls['dob'].touched || employeeForm.controls['dob'].dirty)">
                    <p class="text-danger" *ngIf="employeeForm.controls['dob'].errors?.['required']">
                        Enter the dob
                    </p>
                    <p class="text-danger" *ngIf="employeeForm.controls['dob'].errors?.['minlength']">
                        dob have only numbers
                    </p>
                </div>
            </div>
            <div class="form-group mb-2">
                <label class="control-label ">SALARY</label>
                <input type="number" class="form-control"  formControlName="salary">
                <div
                    *ngIf="employeeForm.controls['salary'].invalid && (isSubmitted || employeeForm.controls['salary'].touched || employeeForm.controls['salary'].dirty)">
                    <p class="text-danger" *ngIf="employeeForm.controls['salary'].errors?.['required']">
                        Enter the salary
                    </p>
                    <p class="text-danger" *ngIf="employeeForm.controls['salary'].errors?.['minlength']">
                        salary have atleast 3 characters
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 mb-2">
                    <button type="submit" class="btn btn-success me-2" (click)="onSave()" [disabled]="employeeForm.invalid">Save</button>
                    <button type="submit" class="btn btn-primary" (click)="onReset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-employee-list [details]="data" (listData)="onEdit($event)"></app-employee-list>