<nav class="navbar navbar-expand-lg border header">
    <div class="container-fluid d-flex justify-content-between align-item-center">
        <div>
            <div><img src="../../../../assets/images/Path 1 (1).png" alt="" height="46px" width="44.86px">
                <img src="../../../../assets/images/1Rhythm.png" alt="" height="43px" width="134px">
            </div>
        </div>
        <div>
            <ul class="nav-list d-flex mb-0 ">
                <li class="nav-item me-4"><a href="" class="nav-link active  d-flex align-item-center">
                        <img src="../../../../assets/images/Vector.png" height="20px" width="18px" alt="" class="me-2">
                        <span class="nav-text">Home</span></a>
                </li>
                <li class="nav-item me-4"><a href="" class="nav-link active">
                        <img src="../../../../assets/images/Vector (1).png" height="24px" width="24px" class="me-2"
                            alt="">
                        <span class="nav-text">Studio</span></a>
                </li>
                <li class="nav-item me-4"><a href="" class="nav-link active">
                        <img src="../../../../assets/images/Vector (2).png" height="23.16px" width="16.71px"
                            class="me-2" alt="">
                        <span class="nav-text">Artists</span></a>
                </li>
                <li class="nav-item me-4"><a href="" class="nav-link active">
                        <img src="../../../../assets/images/Vector (3).png" height="20.63px" width="22.52px" alt=""
                            class="me-2">
                        <span class="nav-text">Booking History</span></a>
                </li>
            </ul>
        </div>
        <div>
            <!-- <div class="image-wrapper">
                <img src="../../../../assets/images/marco-bicca-Z8Rf8EVS2Wc-unsplash 1.png" class="rounded-circle "
                    alt="">
            </div> -->
        </div>
    </div>
</nav>