#header {
    padding: 20px;
    border-bottom: 2px solid #808080;

    .icon {
        color: #808080;
        margin-right: 15px;
    }
}

// #header .icon{
//     color: #808080;
//     margin-right: 15px;
// }