header{
    height: 80px;
    color :#90a9af;
    img{
        height: 40px;
        width: 40px;
    }
}


.search{
    all: unset;  
   
}
.notification{
    position: relative;
}
.notification::after{
    position: absolute;
    right: -1px;
    top: -1px;
    content: '';
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50px;
}