.sidebar .brand {
    height: 70px;

}


.nav-list .nav-link:hover,
.nav-list .nav-link.active {
    background-color: lighten($color: $primary, $amount: 60%);
    transition: .25s all;
    font-weight: 500;
    color: $primary;
}

.nav-link:hover .icon,
.nav-link:hover .nav-text {
    color: $primary;

}

.nav-link .icon,
.nav-link .nav-text {
    color: #90a9af;
}

.nav-link {
    &.active, &:hover {


        .icon,
        .nav-text {
            color: $primary;
        }
        
    .triangle {
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid#1a9d8f;
        border-right: 10px solid #1a9d8f;
        height: 0;
        width: 0;
    }
    }
}