<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="home">HOME</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="employee">EMPLOYEE</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="contact">CONTACT</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="async-subject">ASYNC-SUBJECT</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="behaviour-subject">BEHAVIOUR-SUBJECT</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="replay-subject">REPLAY-SUBJECT</a>
                </li>
                
            </ul>
        </div>
    </nav>
</div>
