.card {
    margin-top: 2em;
    padding: 1.5em 0.5em 0.5em;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 32px rgba(69, 69, 69, 0.12);
    height: 454px;
    width: 320px;
    overflow: hidden;
  }
  .card img {
    height: 276px;
    width: 338px;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .card .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  .card .btn {
    border-radius: 1rem;
    background-color: teal;
    color: #ffffff;
    padding: 0.5em 1.5em;
  }
  .card .btn:hover {
    background-color: rgba(0, 128, 128, 0.7);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }